*{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  height: auto;
}


.main{
  display: flex;
  justify-content: space-between;
  height: 140px;
  margin-left: 20px;
  margin-right: 20px;
}



.pluse{
  font-size: 100px;
}
.title{
  width: 260px;
  height: 160px;
}
.heart{
  width: 90px;
  margin-right: 0px;
  height: 140px;
  
}
.main1{
  display: flex;
  height: 300px;
  
  margin-top: 10px;
  gap: 20px;
  flex-shrink: 0;
  overflow-x: auto;
}
.story{
  display: flex;
  flex-direction: column;
}
.img1{
  width: 220px;
  height: 220px;
  border-radius: 80%;
  padding-top: 10px;
  padding-left: 15px;
}
.para1{
  height: 50px;
  margin-left: 60px;
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
  
}
.ring{
  width: 250px;
  height: 250px;
  
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.img2{
  border-radius: 50%;
  height: 220px;
  width: 220px;
  background-color: white;
  padding: 5px;
  margin-top: 10px;
}
.name{
  font-weight: bold;
 font-size: 25px;
 margin-left: 45px;
 margin-top: 10px;
 
}
.main3{
  display: flex;
  align-items: center;
  
}
.ring1{
  width: 110px;
  height: 110px;
  
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 20px;
  margin-left: 30px;
}
.img3{
  border-radius: 50%;
  height: 85px;
  width: 85px;
  background-color: white;
  padding: 5px;
  margin-top: 8px;
}
.name1{
   margin-left: 30px;
   margin-top: 20px;
   font-size: 30px;
   font-weight: bold;
  
}
.dot{
  font-size: 20px;
  font-weight: bolder;
  margin-top: 50px;
  margin-left: 490px;
}
.dhoni-photo{
  width: 100%;
}
.heart-button{
  width: 80px;
  margin-top: 30px;
  margin-left: 30px;
}
.post-like{
  display: flex;
}
.likes{
 margin-top: 52.5px;
 font-size: 35px;
 font-weight: bold;
 margin-left: 6px;
}
.save-button{
  width: 60px;
  margin-top: 30px;
  margin-left: 130px;
}
 .likeby1{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   margin-left: 0px;
   position: relative;
   top: 25px;
   left: 25px;
   padding: 5px;
   z-index: 3;
   background-color: white;
 }
  .likeby2{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   position: relative;
   top: 25px;
   padding: 5px;
   background-color: white;
   left: -18px;
   z-index: 2;
 }
  .likeby3{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   position: relative;
   top: 25px;
   left: -48px;
   padding: 5px;
   background-color: white;
   
 }
 .like-para{
   margin-left: -35px;
   font-size: 35px;
   margin-top: 40px;
 }
 .likeby0{
   display: flex;
 }
 .name-para{
   margin-top: 110px;
   margin-left: -718px;
   font-size: 30px;
 }
 .date{
   margin-top: 16px;
   margin-left: -718px;
   font-size: 30px;
   color: dimgray;
 }
